<div [ngStyle]="{'padding-left.px': leftMargin}" [ngClass]="class">
<mat-list-item *ngIf="!!category">
 <mat-icon matListIcon (click)="toggleExpanded()">{{icon}}</mat-icon>
  <span (click)="toggleSelected()">{{category.categoryName}}</span>
  <span *ngIf="adminService.currentTab == 0">
    <span><button mat-icon-button class="mat-error" (click)="removeCategory()"><mat-icon>clear</mat-icon></button></span>
    <span><mat-checkbox  (change)="OnChange($event)">Вместе с вложенными категориями</mat-checkbox></span>
  </span>
</mat-list-item>
</div>
<div *ngIf="expanded">
  <div  *ngFor="let category of children;let i = index">
    <app-category-place *ngIf="i==0 && adminService.currentTab == 0"
                        [category]="adminService.getNewCategory(category.parentId,i+1)"
                        [selectedElement]="adminService.element"></app-category-place> <!--for catch onChange -->
      <app-category-element [category]="category"
                            [leftMargin]="(leftMargin) + 30"
                            [children]="adminService.getChildren(category.idCategory)"></app-category-element>
    <app-category-place *ngIf="adminService.currentTab == 0"
                        [category]="adminService.getNewCategory(category.parentId,i+2)"
                        [selectedElement]="adminService.element"></app-category-place>
  </div>
</div>


