 <div *ngIf="!!topCategories; else loading">
  <div class="container">
    <div class="row">
      <div class="col">
        <mat-list>
          <div *ngFor="let category of topCategories; let i = index">
            <app-category-place *ngIf="i==0 && adminService.currentTab == 0"
                                [category]="adminService.getNewCategory(category.parentId,i+1)"
                                [selectedElement]="adminService.element"></app-category-place> <!--for catch onChange -->
            <app-category-element [category]="category"
                                  [children]="adminService.getChildren(category.idCategory)">
            </app-category-element>
            <app-category-place *ngIf="adminService.currentTab == 0"
              [category]="adminService.getNewCategory(category.parentId,i+2)"
              [selectedElement]="adminService.element"></app-category-place>
          </div>
        </mat-list>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="spinner-wrap">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</ng-template>



