<form #categoryForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!!adminService.element">
  <div class="form-group">
    <label for="categoryName">Название категории</label>
    <input type="text" class="form-control" id="categoryName"
           [(ngModel)]="adminService.element.getCategory().categoryName"
           name="categoryName" #categoryName="ngModel" [required]="true">
    <!--   <div [hidden]="categoryName.valid || categoryName.pristine" class="alert alert-danger">
         Введите название категории
       </div> -->
  </div>
  <button mat-button type="submit" class="btn btn-primary" [disabled]="!categoryForm.form.valid">Добавить
  </button>
</form>
