<form [formGroup]="baseForm" (ngSubmit)="onSubmit()" *ngIf = "adminService.element && shopItemsDto">
  <div class="container">
    <div class="row">
      <div class="col">
        <span>Товары в категории: {{adminService.element.getCategory().categoryName}}
          <button mat-icon-button class="mat-primary" type="button" (click)="openDialog()"><mat-icon>settings</mat-icon></button>
        </span>
      </div>
    </div>
  </div>
  <div class="table-responsive" formArrayName="shopItems">
    <table class="table">
      <thead>
      <th *ngFor="let title of getHeaderColumns(); "
          [innerHtml] = "title" [hidden]="!rowVisibleColumns[title]"></th>
      </thead>
      <tbody *ngFor="let row of rowsArray.controls; let i=index" [formGroupName]="i">
      <tr *ngIf="selectedRow == i; else plainRow">
        <td *ngFor="let column of getAllowedForInputColumns()" [hidden]="!rowVisibleColumns[getAliasByName(column)]">
          <mat-form-field>
          <input  matInput [formControl]="row.get(column)" required (click)="setActive(i)">
          </mat-form-field>
        </td>
      </tr>
      <ng-template #plainRow>
        <tr>
          <td *ngFor="let column of getAllowedForInputColumns()" [hidden]="!rowVisibleColumns[getAliasByName(column)]">
            <span [innerHtml] = "row.get(column).value" (click)="setActive(i)"></span>
          </td>
      </tr>
      </ng-template>
    </tbody>
    </table>
    <button mat-icon-button class="text-danger" type="button" (click)="addRow()" [disabled]="!baseForm.valid "><mat-icon>add</mat-icon></button>
  </div>


<nav class="navbar fixed-bottom navbar-light bg-light" [hidden]="selectedRow < 0">
  <div class="col">
  <button mat-icon-button class="text-success" type="submit" (click)="onSubmit()" [disabled]="!baseForm.valid">
    <mat-icon>done</mat-icon></button>
  <button mat-icon-button class="text-secondary" type="button" (click)="onCancel()"><mat-icon>close</mat-icon></button>
  <button mat-icon-button class="text-danger" type="button" (click)="deleteRow()"><mat-icon>delete_forever</mat-icon></button>
  </div>
</nav>
</form>
