<h1 mat-dialog-title>Настройки</h1>
<div mat-dialog-content>
<div *ngFor="let columnName of columns">
  <span><mat-checkbox [id]="columnName"
                      [checked]="data[columnName]"
                      (change)="onChangeVisible($event)">{{columnName}}</mat-checkbox></span>
</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
