@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.spinner-wrap .spinner {
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}
.spinner-wrap {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

