<mat-tab-group (selectedTabChange)="onChangeTab($event)">
  <mat-tab label="Категории товаров">
    <app-category [topCategories]="adminService.topCategories"></app-category>
    <app-category-form [category] = "adminService.element && adminService.element.getCategory()"
    [selectedTab]="adminService.currentTab"></app-category-form>
  </mat-tab>
  <mat-tab label="Параметры товаров">
    <app-category [topCategories]="adminService.topCategories"></app-category>
    <app-parameter-form #parameterForm [currentCategory]="adminService.element && adminService.element.getCategory()"
                        [selectedTab]="adminService.currentTab"></app-parameter-form>
  </mat-tab>
  <mat-tab label="Товары">
    <app-category [topCategories]="adminService.topCategories"></app-category>
    <app-shop-item-table [currentCategory]="adminService.element && adminService.element.getCategory()"
                         [selectedTab]="adminService.currentTab"></app-shop-item-table>
  </mat-tab>
</mat-tab-group>
